<!--LEGEND START-->
<section class="legend block">
    <div class="container">

        <div class="legend__row legend__row-1">
            <div class="legend__item legend__item_text-1">
                <div class="title legend__title">
                    <h2>Легенда с японским сердцем</h2>
                </div>
                <div class="legend__descr">
                    <p>
                        Зимняя дорога редко бывает приветлива к проезжающим, но	GTR позволяет чувствовать	большую	 уверенность.	 Чтобы это понять, достаточно взглянуть на приборную панель…
                    </p>
                    <p>
                        Давно ли Вы ощущали спокойствие при движении по льду, со скоростью свыше 100 км/ч.
                    </p>
                </div>
                <button class="btn legend__btn">Заказать Тест-драйв</button>
            </div>

            <div class="legend__item">
                <div class="legend__img">
                    <img src="img/legend-1.jpg" alt="Car">
                </div>
            </div>
        </div>

        <div class="legend__row legend__row-2">
            <div class="legend__item">
                <div class="legend__img">
                    <img src="img/legend-2.jpg" alt="Car">
                </div>
            </div>

            <div class="legend__item legend__item_text-2">
                <div class="legend__descr">
                    <p>
                        «Японский Годзилла» имеет 6-цилиндровый<br> V-образный двигатель VR38DETT , объемом 3,8 л с двумя турбонаддувами IHI, расположен впереди. Мощность силовой установки: 514 кВт или<br> 700 л.с. при 6400 об/мин.
                    </p>
                    <p>
                        Каждый двигатель собранный вручную, рожден только для одного - побеждать!
                    </p>
                </div>
                <button class="btn legend__btn">Заказать Тест-драйв</button>
            </div>
        </div>

        <div class="legend__row legend__row-3">
            <div class="legend__item">
                <div class="legend__img">
                    <img src="img/legend-3.jpg" alt="Car">
                </div>
            </div>
        </div>

    </div>
</section>
<!--LEGEND END-->