.dots {
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 430px;
    height: 100%;
    opacity: .05;
    background: url("../img/dot-bg.png") no-repeat top center;
    position: absolute;
    left: -200px;
    top: 0;
    z-index: 0;
  }
}
.header {
  background-color: #1c1c1e;
  background-image: url("../img/header-fog.png"), url("../img/header-bg.jpg");
  background-repeat:repeat, repeat;
  background-position: center center, center center;
  background-size: cover, cover;
  padding: 50px 0 157px;
  position: relative;
  z-index: 1;

  &::after {
    content: 'GTR';
    width: 100%;
    text-align: center;
    display: block;
    color: #161616;
    font-size: 200px;
    font-weight: 900;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 60px;
    position: absolute;
    top: 220px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  &__center {
    display: flex;
    position: relative;
  }



  &__bottom-row {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 67px;

    &:last-child {
      justify-content: space-between;
      margin-bottom: 0;
      height: 50px;
    }
  }

  &__btn {
    margin-right: 40px;
  }

  &__left-slider {
    width: 560px;
  }

  &__right-slider {
    width: 50%;
    position: relative;
    top: 112px;
    left: -62px;
  }

  &__right-slide {
    width: 100%;
  }
  &__pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80px;
    height: 30px;
    position: absolute;
    right: -8px;
    top: 160px;
    transition: .5s ease;
  }
  &__pagination-left {
    color: #ffffff;
    font-size: 22px;
    font-weight: 500;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 4.4px;
  }

  &__pagination-right {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 48px;
    text-transform: uppercase;
    padding: 2px 0 0 0;
    letter-spacing: 3.2px;
  }

  &__pagination-line {
    width: 65px;
    height: 1px;
    background-color: #424243;
    z-index: 2;
    margin-top: -6px;

    .line-inner {
      width: 0;
      height: 1px;
      background: #d3964d;
      opacity: 1;
    }
    .blink {
      animation: line 7.1s linear;
    }
  }

  @keyframes line {
    0% {
      width: 1%;
    }
    100% {
      width: 100%;
    }
  }

  &__prev, &__next {
    width: 45px;
    height: 8px;
    cursor: pointer;
    background: url('../img/prev-arr.png') no-repeat center center;
    position: absolute;
    right: 8px;
    top: -40px;
  }

  &__next {
    background: url('../img/next-arr.png') no-repeat center center;
    top: 94px;
    right: 10px;
  }

  &__logo {
    position: relative;
    z-index: 1;
    flex-basis: 70%;
  }


  &__title {

    p {
      color: #c3c3c3;
      font-size: 18px;
      font-weight: 500;
      line-height: 18px;
      text-transform: uppercase;
      letter-spacing: 4.5px;
    }

    h1 {
      color: #ffffff;
      font-family: "Raleway-800";
      font-size: 52px;
      font-weight: 400;
      margin: 14px 0 21px;
      letter-spacing: 2.34px;
      line-height: 64px;
    }
  }

  &__description {

    p {
      color: #c3c3c3;
      font-size: 14px;
      font-weight: 300;
      line-height: 22px;
      padding: 0 140px 0 2px;
      letter-spacing: 0.63px;

      &:first-child {
        margin-bottom: 22px;
      }
    }
  }

  &__play-video {
    display: flex;
    align-items: center;
    margin-right: 50px;

    .play-video-btn {
      background: rgba(0, 0, 0, .35) url("../img/play-video.png") no-repeat  22px center;
      width: 55px;
      height: 55px;
      border-radius: 50%;
      display: inline-block;
      margin-right: 10px;
    }

    span {
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
    }
  }

  &__social {

    li {
      display: inline-block;
      position: relative;
      margin-right: 26px;
      font-size: 18px;

      &:last-child {
        margin-right: 0;
      }
    }

    a {
      color: #fff;
    }
  }
  &__audio {
    display: flex;
    width: 100px;
    height: 20px;
    align-items: flex-end;
    line-height: .7;

    audio {
      display: none;
    }
  }

  &__mouse {
    margin-right: 72px;
  }

  .play-audio {
    color: #d3964d;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-right: 15px;
    text-align: right;
    width: 60px;
  }
  &__audio {
    position: relative;
  }
  .audio-equalizer {
    display: flex;
    align-items: flex-end;
    position: relative;
    height: 20px;

    span {
      display: inline-block;
      width: 2px;
      height: 10px;
      background: #fff;
      margin-right: 5px;
    }

    &.onplay {
      span {
        &:nth-child(1) {
          animation: eq1 1s linear infinite;
        }
        &:nth-child(2) {
          animation: eq2 1s linear .2s infinite;
        }
        &:nth-child(3) {
          animation: eq3 1s linear .4s infinite;
        }
        &:nth-child(4) {
          animation: eq1 1s linear .2s infinite;
        }
        &:nth-child(5) {
          animation: eq3 1s linear .4s infinite;
        }
      }
    }

  }

  @keyframes eq1 {
    0%{
      min-height: 10px;
    }
    50% {
      min-height: 20px;
    }
    100% {
      min-height: 10px;
    }
  }

  @keyframes eq2 {
    0%{
      min-height: 10px;
    }
    25% {
      min-height: 5px;
    }
    50% {
      min-height: 10px;
    }
    50% {
      min-height: 13px;
    }
    70% {
      min-height: 15px;
    }
    100% {
      min-height: 10px;
    }
  }
  @keyframes eq3 {
    0%{
      min-height: 10px;
    }
    25% {
      min-height: 5px;
    }
    50% {
      min-height: 10px;
    }
    75% {
      min-height: 15px;
    }
    100% {
      min-height: 10px;
    }
  }

  &__sticker {
    color: #3d3d3e;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    display: inline-block;
    width: 126px;
    height: 126px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.35);
    border-radius: 50%;
    background: url('../img/sticker.png') no-repeat center center;
    padding-top: 29px;

    p:nth-child(2) {
      color: #ffffff;
      font-size: 20px;
      font-weight: 400;
    }
  }
}

@media (max-width: 1279px) {
  .header {
    padding: 50px 0 80px;
    background-position: center center,center center;


    &__bottom-row {
      margin-bottom: 60px;
    }

    &__logo {
      flex-basis: 60%;
    }

    &__next, &__prev {
      top: -30px;
      right: 0px;
      z-index: 3;
    }

    &__next {
      right: 0px;
      top: 90px;
    }

    &__pagination {
      top: 330px;
      right: 40px;
      z-index: 3;
    }
    &__center {
      //flex-wrap: wrap-reverse;
    }
  }
}

@media (max-width: 1023px) {
  .header {
    padding: 20px 0 40px !important;

    &__logo {
      flex-basis: 50%;
    }
    &__title {
      h1 {
        line-height: 54px;
        margin-bottom: 15px;
      }
    }
    &__description {
      p {
        padding: 0;
        &:first-child {
          margin-bottom: 15px;
        }
      }
    }
    &__tel {
      flex-basis: 30%;
    }

    &__center {
      flex-wrap: wrap;
    }

    &__left-slider {
      width: 100%;
      text-align: center;
      margin-bottom: 30px;
    }
    &__right-slider {
      width: 80%;
      left: 0;
      top: 0;
    }

    &__bottom-row {
      justify-content: space-between;
      margin-bottom: 40px;
    }

    &__next, &__prev {
      top: -20px;
      right: 23px;
      z-index: 3;
    }

    &__next {
      right: 23px;
      top: 80px;
    }

    &__pagination {
      position: relative;
      top: 40px;
      right: 0;
      width: 15%;
      z-index: 3;
    }
  }
}

@media (max-width: 767px) {
  .header {

    &__pagination {
      right: -20px;
    }
  }
}

@media (max-width: 639px) {
  .header {

    &::after {
      font-size: 110px;
      letter-spacing: 0;
    }

    &__logo {
      flex-basis: 20%;
    }
    &__tel {
      flex-basis: 50%;
    }

    &__top {
      margin-bottom: 40px;
    }

    &__title {
      h1 {
        font-size: 42px;
        line-height: 1;
      }
    }

    &__left-slider {
      //margin-bottom: 0;
    }

    &__right-slider {
      width: 100%;
      margin-bottom: 10px;
    }

    &__pagination {
      width: 25%;
      margin: 0 auto;
      top: 0;
    }

    &__prev {
      right: 130px;
      top: 37px;
    }
    &__next {
      right: -55px;
      top: 43px;
    }

    &__sticker {
      display: none;
    }

    &__play-video {
      margin-right: 0;
    }

    &__center {
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 479px) {
  .header {
    padding: 20px 0!important;
    background-size: cover, cover;
    &__tel {
      display: none;
    }

    &__title {
      h1{
        font-size: 34px;
      }
    }
    &__pagination {
      right: 0;
    }
    &__prev {
      right: 90px;
    }

    &__next {
      right: -58px;
      top: 44px;
    }

    &__play-video {
      span {
        display: none;
      }
    }

    &__mouse {
      display: none;
    }

    &__social {

      li {
        margin-right: 15px;
      }
    }
  }
}