<!--HEADER START-->
<header class="header block">
    <div class="container">

        <div class="header__top">
            <div class="header__logo">
                <a href="index.html"><img src="img/logo.png" alt=""></a>
            </div>
            <div class="header__tel pointer">
                <p>8 (800) 555-7555<br>
                    <span>Заказать звонок</span>
                </p>

            </div>
            <div class="header__menu-btn pointer">
                <img src="img/menu.png" alt="">
            </div>
        </div>

        <div class="header__center">

            <div class="header__left-slider">

                <div class="header__left-slide">
                    <div class="header__title">
                        <p>The MEN WANT GTR</p>
                        <h1>Аренда спорткаров в Москве и Сочи</h1>
                    </div>
                    <div class="header__description">
                        <p>Прикоснись к легенде, ощути могущество характера и цирф в образе NISSAN GTR. Истребитель на колесах, создающий перегрузку в 1,9 g.</p>
                        <p>Ты готов ощутить это?</p>
                    </div>
                </div>

                <div class="header__left-slide">
                    <div class="header__title">
                        <p>аренда gtr —</p>
                        <h1>Управлять<br> ракетой с	рулем</h1>
                    </div>
                    <div class="header__description">
                        <p>Мы поможем оценить каждые 00.00.03 сек за рулем. Незабываемые впечатления вместе The Men Want.</p>
                        <p>На наш взгляд, эта машина позволит Вам иначе увидеть себя. GTR – легенда и он готов стать Вашим, только не забудьте пристегнуться.</p>
                    </div>
                </div>

                <div class="header__left-slide">
                    <div class="header__title">
                        <p>аренда gtr —</p>
                        <h1>Управлять<br> ракетой с	рулем</h1>
                    </div>
                    <div class="header__description">
                        <p>Мы поможем оценить каждые 00.00.03 сек за рулем. Незабываемые впечатления вместе The Men Want.</p>
                        <p>На наш взгляд, эта машина позволит Вам иначе увидеть себя. GTR – легенда и он готов стать Вашим, только не забудьте пристегнуться.</p>
                    </div>
                </div>
            </div>


            <div class="header__right-slider">
                <div class="header__right-slide">
                    <img src="img/header-1.png" alt="">
                </div>
                <div class="header__right-slide">
                    <img src="img/header-2.png" alt="">
                </div>
                <div class="header__right-slide">
                    <img src="img/header-3.png" alt="">
                </div>
            </div>

            <div class="header__pagination">
                <div class="header__pagination-left"></div>
                <div class="header__pagination-right"></div>
                <div class="header__pagination-line"><div class="line-inner"></div></div>
            </div>
        </div>

        <div class="header__bottom">
            <div class="header__bottom-row">
                <button class="btn header__btn">Заказать</button>
                <div class="header__play-video pointer">
                    <div class="play-video-btn">

                    </div>
                    <span>Смотреть<br> видео</span>
                </div>
                <div class="header__sticker">
                    <p>от</p>
                    <p>5000 руб.</p>
                    <p>1 час</p>
                </div>
            </div>

            <div class="header__bottom-row">
                <div class="header__social">
                    <ul>
                        <li><a href="#"><i class="fab fa-vk"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
                <div class="header__mouse pointer">
                    <img src="img/mouse.png" alt="">
                </div>
                <div class="header__audio pointer">
                    <p class="play-audio">Вкл.</p>
                    <div class="audio-qualizer">
                        <span></span><span></span><span></span><span></span><span></span>
                    </div>
                    <audio src="" controls></audio>
                </div>
            </div>

        </div>
    </div>
    <!--=include ../menu/menu.html -->
</header>
<!--HEADER END-->