<!--HEADER START-->
<header class="header block dots" id="header">
    <div class="container">

        <!--=include ../header-top/header-top.html -->

        <div class="header__center">

            <div class="header__left-slider">

                <div class="header__left-slide">
                    <div class="header__title">
                        <p>The MEN WANT GTR</p>
                        <h1>
                            Дарите эмоции!
                            Аренда Nissan GTR
                            без водителя в Москве
                        </h1>
                    </div>
                    <div class="header__description">
                        <p>
                            Доставим машину и снимем о событии фильм,
                            чтобы Вам запомнилась каждая минута
                        </p>
                    </div>
                </div>

                <div class="header__left-slide">
                    <div class="header__title">
                        <p>The MEN WANT GTR</p>
                        <h1>Аренда спорткаров в Москве и Сочи</h1>
                    </div>
                    <div class="header__description">
                        <p>Прикоснитесь к легенде, ощутите могущество характера и цифр в образе Nissan GTR
                            Он словно истребитель, создающий перегрузки в 1,9 g
                        </p>
                    </div>
                </div>

                <div class="header__left-slide">
                    <div class="header__title">
                        <p>The MEN WANT GTR</p>
                        <h1>Аренда спорткаров в Москве и Сочи</h1>
                    </div>
                    <div class="header__description">
                        <p>Прикоснитесь к легенде, ощутите могущество характера и цифр в образе Nissan GTR.
                            Он словно истребитель, создающий перегрузки в 1,9 g
                        </p>
                    </div>
                </div>
            </div>


            <div class="header__right-slider">
                <div class="header__right-slide">
                    <img src="img/header-1.png" alt="">
                </div>
                <div class="header__right-slide">
                    <img src="img/header-2.png" alt="">
                </div>
                <div class="header__right-slide">
                    <img src="img/header-3.png" alt="">
                </div>
            </div>

            <div class="header__pagination">
                <div class="header__prev"></div>
                <div class="header__pagination-left"></div>
                <div class="header__pagination-right"></div>
                <div class="header__pagination-line">
                    <div class="line-inner"></div>
                </div>
                <div class="header__next"></div>
            </div>

        </div>

        <div class="header__bottom">
            <div class="header__bottom-row">
                <button class="btn header__btn open-car">Заказать</button>
                <div class="header__play-video pointer open-video">
                    <div class="play-video-btn">

                    </div>
                    <span>Смотреть<br> видео</span>
                </div>
                <div class="header__sticker">
                    <p>от</p>
                    <p>5000 руб.</p>
                    <p>1 час</p>
                </div>
            </div>

            <div class="header__bottom-row">
                <div class="header__social">
                    <ul>
                        <li><a href="#"><i class="fab fa-vk"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
                <a href="#features" class="header__mouse pointer">
                    <img src="img/mouse.png" alt="">
                </a>
                <div class="header__audio pointer">
                    <p class="play-audio">Вкл.</p>
                    <div class="audio-equalizer">
                        <span></span><span></span><span></span><span></span><span></span>
                    </div>
                    <div class="audio">

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--=include ../menu/menu.html -->
</header>
<!--HEADER END-->