<!--OFFER START-->
<section class="offer block">
    <div class="container">
        <h2 class="title title_center">
            Специальное предложение
        </h2>
        <div class="offer__title-text">
            Успейте приобрести <span class="text-semibold">подарочную карту со скидкой</span>
            до конца месяца и
            получите дополнительный дисконт на услуги
            <br>фото-видео оператора <span class="text-semibold">в размере 20%</span>!
        </div>
        <div class="offer__list">
            <div class="offer__item">
                <h3>
                    Certificate
                </h3>
                <div class="offer__item-logo">
                    <img src="img/auto-logo.png" alt="auto-logo">
                    <p>
                        The MEN WANT
                    </p>
                </div>
                <div class="offer__car-box">
                    <img src="img/offer1.png" alt="car">
                </div>
                <div class="offer__item-name">
                    <h4>
                        Nissan GTR
                    </h4>
                    <span>
                        700 hp
                    </span>
                </div>
                <p class="offer__item-price">
                    <span>2</span> <span>часа:</span> <span>10 000</span> <span>руб.</span>
                </p>
                <div class="offer__item-bottom">
                    <div class="offer__item-info">
                        <p class="offer__tax">
                            Все налоги включены.
                        </p>
                        <p class="offer__time">
                            Время фактической аренды
                        </p>
                    </div>
                    <div class="btn btn_offer">
                        Заказать
                    </div>
                </div>
            </div>
            <div class="offer__item">
                <h3>
                    Certificate
                </h3>
                <div class="offer__item-logo">
                    <img src="img/auto-logo.png" alt="auto-logo">
                    <p>
                        The MEN WANT
                    </p>
                </div>
                <div class="offer__car-box">
                    <img src="img/offer2.png" alt="car">
                </div>
                <div class="offer__item-name">
                    <h4>
                        Nissan GTR
                    </h4>
                    <span>
                        700 hp
                    </span>
                </div>
                <p class="offer__item-price">
                    <span>24</span> <span>часа:</span> <span>44 900</span> <span>руб.</span>
                </p>
                <div class="offer__item-bottom">
                    <div class="offer__item-info">
                        <p class="offer__tax">
                            Все налоги включены.
                        </p>
                        <p class="offer__time">
                            Время фактической аренды
                        </p>
                    </div>
                    <div class="btn btn_offer">
                        Заказать
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--OFFER END-->