<!--FOOTER START-->
<footer class="footer block">
    <div class="container">
        <div class="footer__top">
            <div class="footer__item">
                <a href="index.html">
                    <img src="footer-logo.png" alt="">
                </a>
            </div>
            <div class="footer__item">
                <a href="" class="footer__link">
                    О нас
                </a>
                <a href="" class="footer__link">
                    Контакты
                </a>
                <a href="" class="footer__link">
                    Оплата
                </a>
            </div>
            <div class="footer__item">
                <a href="" class="footer__link">
                    Услуги
                </a>
                <a href="" class="footer__link_sub">
                    Такси спорткар
                </a>
                <a href="" class="footer__link_sub">
                    Аренда спорткара
                </a>
                <a href="" class="footer__link_sub">
                    Обучение езды на полном
                    приводе
                </a>
                <a href="" class="footer__link_sub">
                    Фотоссесия и видеосъёмка
                </a>
                <a href="" class="footer__link_sub">
                    Экскурсия по Москве
                </a>
                <a href="" class="footer__link_sub">
                    Консьерж сервис
                </a>
            </div>
            <div class="footer__item">
                <a href="" class="footer__link">

                </a>
            </div>
        </div>
    </div>
</footer>
<!--FOOTER END-->