.footer {
    color: #fff;
    background: #1c1c1e;
    padding-top: 50px;
    &__link {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 33px;
        &_serv {
            margin-bottom: 31px;
        }
    }
    &__sublink {
        font-size: 14px;
        margin-bottom: 28px;
        line-height: 1.75em;
    }
    a {
        color: #fff;
    }
    &__top {
        display: flex;
        position: relative;
    }
    &__item {
        flex-direction: column;
        display: flex;
        align-items: flex-start;
        letter-spacing: .045em;
        a:hover {
            color: #d3964d;
        }
        &_1 {
            margin-right: 229px;
        }
        &:not(&_1) {
            margin-top: 9px;
        }
        &_2 {
            margin-right: 112px;
        }
        &_3 {
            margin-right: 78px;
        }
    }
    &__tel-text_order:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    &__contact {
        display: flex;
        align-items: flex-end;
        margin-bottom: 33px;
        font-weight: 500;
        font-size: 18px;
        letter-spacing: .05em;
        &_icons {
            margin-top: 28px;
            width: 157px;
            display: flex;
            justify-content: space-between;
        }
    }
    &__link-tel {
        width: 189px;
        display: block;
    }
    &__tel-text {
        font-size: 13px;
        color: #909090;
    }
    &__btn-top {
        width: 42px;
        height: 42px;
        background: url(../img/footer-arrow.png) no-repeat center center;
        cursor: pointer;
        border: 2px solid $mainColor;
        transition: all .2s linear;
        display: block;
        position: absolute;
        right: 0;
        &:hover {
            background-color: #fff;
        }
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #333335;
    }
}

@media (max-width: 1279px) {

}

@media (max-width: 1023px) {

}

@media (max-width: 767px) {

}

@media (max-width: 639px) {

}

@media (max-width: 479px) {

}