.footer {
    color: #fff;
    background: #1c1c1e;
    padding-top: 50px;
    &__link {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 33px;
        &_serv {
            margin-bottom: 31px;
        }
    }
    &__sublink {
        font-size: 14px;
        margin-bottom: 28px;
        line-height: 1.75em;
    }
    a {
        color: #fff;
    }
    &__top {
        display: flex;
        position: relative;
        padding-bottom: 17px;
    }
    &__item {
        flex-direction: column;
        display: flex;
        align-items: flex-start;
        letter-spacing: .045em;
        a:hover {
            color: #d3964d;
        }
        &_1 {
            margin-right: 229px;
        }
        &:not(&_1) {
            margin-top: 9px;
        }
        &_2 {
            margin-right: 112px;
        }
        &_3 {
            margin-right: 78px;
        }
    }
    &__tel-text_order:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    &__contact {
        display: flex;
        align-items: flex-end;
        margin-bottom: 33px;
        font-weight: 500;
        font-size: 18px;
        letter-spacing: .05em;
        &_icons {
            margin-top: 28px;
            width: 157px;
            display: flex;
            justify-content: space-between;
        }
    }
    &__link-tel {
        width: 189px;
        display: block;
    }
    &__tel-text {
        font-size: 13px;
        color: #909090;
    }
    &__btn-top {
        width: 42px;
        height: 42px;
        background: url(../img/footer-arrow.png) no-repeat center center;
        cursor: pointer;
        border: 2px solid $mainColor;
        transition: all .2s linear;
        display: block;
        position: absolute;
        right: 0;
        &:hover {
            background-color: #fff;
        }
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #333335;
        font-size: 14px;
        padding-top: 39px;
        letter-spacing: .045em;
        padding-bottom: 30px;
    }
    &__name-site {
        font-weight: 500;
    }
    &__all-rights {
        margin-top: 10px;
    }
    &__Men {
        text-transform: uppercase;
        letter-spacing: .26em;
    }
    &__creator {
        margin: -7px 210px 0 0;
        display: flex;
        align-items: center;
        font-size: 14px;
        text-transform: uppercase;
        color: #8e8e8f;
    }
    &__made {
        margin-right: 21px;
    }
}

@media (max-width: 1279px) {
    .footer {
        &__item {
            &_1 {
                margin-right: 80px;
            }
            &_2,
            &_3 {
                margin-right: 60px;
            }
        }
        &__link-tel {
            width: 195px;
        }
        &__creator {
            margin: 0;
        }
    }
}

@media (max-width: 1023px) {
    .footer {
        &__top {
            flex-wrap: wrap;
        }
        &__link {
            margin-bottom: 20px;
        }
        &__sublink {
            margin-bottom: 15px;
        }
        &__item {
            &_1 {
                margin-right: 40px;
            }
            &_2,
            &_3 {
                margin-right: 40px;
            }
        }
        &__contact {
            font-size: 16px;
            margin-bottom: 20px;
            &_1 {
                flex-direction: column;
                align-items: flex-start;
            }
        }
        &__link-tel {
            width: 170px;
        }
        &__tel-text_order {
            margin-top: 10px;
        }
        &__bottom {
            padding-bottom: 0;
        }
        &__contact_icons {
            margin-top: 10px;
        }
    }
}

@media (max-width: 767px) {
    .footer {
        &__top {
            flex-direction: column;
        }
        &__item {
            &:not(&_1){
                margin-top: 0px;
            }
            &_2 {
                padding-top: 20px;
            }
            &_4 {
                position: absolute;
                right: 50px;
                top: 55px;
            }
        }
    }
}

@media (max-width: 639px) {
    .footer {
        &__item {
            &_4 {
                right: 0;
            }
        }
        &__bottom,
        &__creator {
            font-size: 12px;
        }
    }
}

@media (max-width: 479px) {
    .footer {
        &__item {
            &_3 {
                margin-bottom: 20px;
                border-bottom: 1px solid #333335;
            }
            &_4 {
                position: static;
                margin-top: 20px;
            }
        }
        &__contact_icons {
            margin-bottom: 0;
        }
        &__bottom {
            flex-direction: column;
            align-items: center;
            padding-top: 20px;
        }
        &__rights {
            text-align: center;
        }
        &__creator {
            margin-top: 20px;
        }
    }
}