<!--FOOTER START-->
<footer class="footer block">
    <div class="container">
        <div class="footer__top">
            <div class="footer__item footer__item_1">
                <a href="index.html">
                    <img src="img/footer-logo.png" alt="">
                </a>
            </div>
            <div class="footer__item footer__item_2">
                <a href="about.html" class="footer__link">
                    О нас
                </a>
                <a href="" class="footer__link">
                    Контакты
                </a>
                <a href="" class="footer__link">
                    Оплата
                </a>
            </div>
            <div class="footer__item footer__item_3">
                <a href="" class="footer__link footer__link_serv">
                    Услуги
                </a>
                <a href="" class="footer__sublink">
                    Такси спорткар
                </a>
                <a href="" class="footer__sublink">
                    Аренда спорткара
                </a>
                <a href="" class="footer__sublink">
                    Обучение езды на полном
                    <br>приводе
                </a>
                <a href="" class="footer__sublink">
                    Фотоссесия и видеосъёмка
                </a>
                <a href="" class="footer__sublink">
                    Экскурсия по Москве
                </a>
                <a href="" class="footer__sublink">
                    Консьерж сервис
                </a>
            </div>
            <div class="footer__item footer__item_4">
                <div class="footer__contact footer__contact_1">
                    <a href="tel:+88005557555" class="footer__link-tel">
                        8 (800) 555-7555
                    </a>
                    <span class="footer__tel-text footer__tel-text_order open-car">
                        Заказать звонок
                    </span>
                </div>
                <div class="footer__contact">
                    <a href="tel:+88005557555" class="footer__link-tel">
                        +7 (495) 643-6444
                    </a>
                    <span class="footer__tel-text">
                        Москва
                    </span>
                </div>
                <div class="footer__contact">
                    <a href="tel:+88005557555" class="footer__link-tel">
                        +7 (916) 361-3131
                    </a>
                    <span class="footer__tel-text">
                        Сочи
                    </span>
                </div>
                <div class="footer__contact">
                    <a href="mailto:tmw@mail.ru">
                        tmw@mail.ru
                    </a>
                </div>
                <div class="footer__contact footer__contact_icons">
                    <a href="">
                        <i class="fab fa-vk"></i>
                    </a>
                    <a href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
            <a href="#header" class="footer__btn-top"></a>
        </div>
        <div class="footer__bottom">
            <div class="footer__rights">
                <p class="footer__name-site">
                    © <span class="footer__Men">The Men Want</span> 2018г.
                </p>
                <p class="footer__all-rights">
                    Все права защищены
                </p>
            </div>
            <div class="footer__creator">
                <span class="footer__made">Made in</span>
                <a href="https://web-souris.ru/" target="_blank">
                    <img src="img/logo-souris.png" alt="Souris">
                </a>
            </div>
        </div>
    </div>
</footer>
<!--FOOTER END-->