<section class="not-found block header">
    <div class="container">
        <!--=include ../header-top/header-top.html -->
        <div class="not-found__content">
            <div class="not-found__img"><img src="img/404-main.png" alt=""></div>
            <div class="not-found__title">
                <h3>Этой страницы не существует!</h3>
            </div>
            <div class="not-found__descr">
                <p>Похоже, мы не можем найти нужную вам страницу. Воспользуйтесь меню или вернитесь на главную.</p>
            </div>
            <a href="index.html" class="btn not-found__btn">на главную</a>
        </div>
    </div>
</section>