<div class="menu">
    <div class="container">
        <div class="menu__top">
            <div class="header__logo menu__logo">
                <a href="index.html"><img src="img/logo.png" alt=""></a>
            </div>
            <div class="menu__close pointer">
                <i class="fas fa-times"></i>
            </div>
        </div>

        <div class="menu__content">

            <div class="menu__left">
                <ul>
                    <li><a href="">Главная</a></li>
                    <li class="submenu-btn"><a href="../../services.html">Услуги</a><span><i class="fas fa-chevron-down"></i></span>
                        <ul class="menu__services">
                            <li><a href="">Такси спорткар</a></li>
                            <li><a href="">Аренда спорткара</a></li>
                            <li><a href="">Обучение езды на полном приводе</a></li>
                            <li><a href="">Фотоссесия и видеосъёмка</a></li>
                            <li><a href="">Экскурсия по Москве</a></li>
                            <li><a href="">Консьерж сервис</a></li>
                        </ul>
                    </li>
                    <li><a href="">Оплата</a></li>
                    <li><a href="about.html">О нас</a></li>
                    <li><a href="">Контакты</a></li>
                </ul>
            </div>

            <div class="menu__right">
                <div class="header-top__tel menu__tel pointer">
                    <p><a href="tel:8 (800) 555-7555">8 (800) 555-7555</a><br>
                        <span class="open-consult">Заказать звонок</span>
                    </p>
                </div>

                <div class="header-top__tel menu__tel pointer">

                    <p><span class="tel-moscow">Москва</span> <a href="tel:+7 (495) 643-6444">+7 (495) 643-6444</a><br>
                        <span class="open-consult">Заказать звонок</span>
                    </p>
                </div>

                <div class="header-top__tel menu__tel pointer">
                    <p><span class="tel-sochi">Сочи</span> <a href="tel:+7 (916) 361-3131">+7 (916) 361-3131</a><br>
                        <span class="open-consult">Заказать звонок</span>
                    </p>
                </div>

                <div class="header-top__tel menu__tel pointer">
                    <p><span class="tel-email">E-mail</span> <a href="mailto:tmw@mail.ru">tmw@mail.ru<br></p>
                </div>

                <div class="header__social menu__social">
                    <ul>
                        <li><a href="#"><i class="fab fa-vk"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>