<!--EXPERIENCE START-->

<section class="experience block">
	<div class="container">
		<div class="experience__img-box">
			<img src="img/experience-img.jpg" alt="">
		</div>
		<ul class="experience__list">
			<li class="experience__item experience__item_1">
				<p class="experience__num">12</p>
				<p class="experience__text">Экспертов из таких областей как: гостиничный туризм,
					продюсеры крупнейших международных мероприятий,
					экономисты и профессиональные пилоты ралли «Дакар» и RedBull Air Race
					собрались вместе с одной целью – создать новые события, которыми хочется поделиться.
				</p>
			</li>
			<li class="experience__item">
				<p class="experience__num">2013</p>
				<p class="experience__text">год основания нашей компании</p>
			</li>
			<li class="experience__item">
				<p class="experience__num">33</p>
				<p class="experience__text">компании партнера</p>
			</li>
			<li class="experience__item">
				<p class="experience__num">10</p>
				<p class="experience__text">стран мира сотрудничают с нами ежегодно</p>
			</li>
		</ul>
	</div>
</section>

<!--EXPERIENCE END-->