<!--EXPERIENCE START-->

<section class="experience block">
	<div class="container">
		<div class="experience__img-box">
			<img src="img/experience-img.png" alt="">
		</div>
		<ul class="experience__list">
			<li class="experience__item experience__item_1">
				<p class="experience__num">12</p>
				<p class="experience__text">Лет опыта на рынке.</p>
			</li>
			<li class="experience__item">
				<p class="experience__num">1 070</p>
				<p class="experience__text">Довольных клиентов за 2018 год.</p>
			</li>
			<li class="experience__item">
				<p class="experience__num">37</p>
				<p class="experience__text">Квалифицированных сотрудников.</p>
			</li>
			<li class="experience__item">
				<p class="experience__num">15</p>
				<p class="experience__text">Минут — время оформления документов</p>
			</li>
		</ul>
	</div>
</section>

<!--EXPERIENCE END-->