<!--SLOGAN START-->

<section class="slogan block" id="slogan">
	<div class="container">
		<p>
			Долгое время во воздухе искрились крупицы наших собственных желаний,
			образы из «хочу», «было бы здорово», «как бы это сделать»,
			постепенно собирались в стройные ряды, подвергались нашему анализу и расчету.
		</p>
		<p>
			Желание воплотить фантазии мальчишки, юноши, мужчины в реальность,
			как каскад картинок смогли обрести физическую форму в проекте «THE MEN WANT».
		</p>
	</div>
</section>

<!--SLOGAN END-->