.reviews {
    padding-top: 92px;
    background: #efefef;
    padding-bottom: 98px;
    &__list {
        margin-top: 36px;
    }
    &__body {
        display: flex;
        padding-top: 15px;
        flex-wrap: wrap;
        align-items: flex-start;
        width: 610px;
        margin-right: 20px;
        justify-content: space-between;
    }
    &__img-box {
        position: relative;
        img {
            z-index: 1;
            position: relative;
        }
        &::before {
            content: '';
            background: $mainColor;
            width: 30px;
            height: 30px;
            position: absolute;
            top: -15px;
            right: -15px;
        }
    }
    &__text-box {
        display: flex;
        flex-direction: column;
        color: #141414;
        width: 430px;
        h3 {
            font-weight: 700;
            font-size: 24px;
            padding-top: 28px;
            letter-spacing: .05em;
        }
        span {
            font-size: 18px;
            font-weight: 600;
            letter-spacing: .045em;
            margin-top: 9px;
        }
        div {
            font-weight: 500;
            font-size: 14px;
            margin-top: 19px;
            letter-spacing: .044em;
            line-height: 1.9em;
            padding-right: 20px;
        }
        .reviews__more {
            font-size: 14px;
            text-decoration: underline;
            font-weight: 600;
            cursor: pointer;
            margin-top: 20px;
        }
    }
    &__nav {
        display: flex;
        justify-content: space-between;
        width: 260px;
        margin: 58px auto 0;
    }
    &__prev,
    &__next {
        width: 60px;
        height: 15px;
        cursor: pointer;
    }
    &__prev {
        background: url(../img/reviews__prev-arr.png)no-repeat center center / contain;
        align-self: flex-start;
    }
    &__next {
        background: url(../img/reviews__next-arr.png)no-repeat center center / contain;
        align-self: flex-end;
    }
    &__num-slide {
        letter-spacing: .14em;
        width: 75px;
    }
    &__curr-slide {
        font-size: 22px;
        font-weight: 600;
    }
    &__total-slide {
        font-size: 16px;
        font-weight: 500;
    }
}

@media (max-width: 1279px) {
    .reviews {
        &__body {
            width: 487px;
        }
        &__img-box {
            margin: 0 auto;
        }
        &__text-box {
            width: 100%;
            h3,
            span {
                text-align: center;
            }
            div {
                padding-right: 0;
            }
        }
    }
}

@media (max-width: 1023px) {
    .reviews {
        .title {
            text-align: center;
        }
        &__body {
            width: 700px;
            margin: 0 10px;
        }
        &__text-box {
            width: 430px;
            h3 {
                padding-top: 0;
            }
            h3,
            span {
                text-align: left;
            }
        }
        &__nav {
            margin-top: 30px;
        }

    }
}

@media (max-width: 767px) {
    .reviews {
        &__body{
            width: 600px;
        }
        &__text-box {
            padding-left: 20px;
            h3 {
                font-size: 22px;
            }
            span {
                font-size: 16px;
            }
            div {
                margin-top: 10px;
            }
        }
    }
}

@media (max-width: 639px) {
    .reviews {
        &__body {
            width: 450px;
        }
        &__list {
            margin-top: 20px;
        }
        &__text-box {
            h3 {
                margin-top: 10px;
            }
            h3,
            span {
                text-align: center;
            }
        }
    }
}

@media (max-width: 479px) {
    .reviews {
        &__body {
            width: 300px;
        }
        &__text-box {
            h3 {
                font-size: 20px;
            }
            span {
                font-size: 14px;
            }
        }
    }
}