<!--REVIEWS START-->
<section class="reviews block">
    <div class="container">
        <h2 class="title">
            Наши клиенты говорят
        </h2>
        <div class="reviews__list">
            <div class="reviews__item">
                <div class="reviews__body">
                    <div class="reviews__img-box">
                        <img src="img/reviews1.jpg" alt="people">
                    </div>
                    <div class="reviews__text-box">
                        <h3>
                            Иван
                        </h3>
                        <span>
                        бизнесмен и фотограф
                    </span>
                        <div>
                            Владею маркой Ауди, много езжу в Москве и город стал несколько монотонной средой, давно не испытывал новых эмоций. А тут такой шанс, взять на несколько часов гэтэр.
                            По началу я даже не понял что это за машина. Ну купе, ну много о ней пишут, а что по факту?
                            Тест-драйв с пилотом компании брать не стал, решил, разберусь сам. И что вы думаете?
                            Я чуть шею не сломал при разгоне, даже на аттракционах такого нет. Короче я решил постепенно вкатываться и под вечер мы уже подружились)
                            Поймал себя на мысли, что хочу RS, видел тесты, где подобная Ауди не уступает GTRу, поэтому, спасибо за возможность освежиться! Сервис приема и сдачи машины на высоте.
                        </div>
                    </div>
                </div>
            </div>
            <div class="reviews__item">
                <div class="reviews__body">
                    <div class="reviews__img-box">
                        <img src="img/reviews2.jpg" alt="people">
                    </div>
                    <div class="reviews__text-box">
                        <h3>
                            Владимир
                        </h3>
                        <span>
                            владелец IT-компании
                        </span>
                        <div>
                            Я фанат картинга и люблю на светофорах стартовать первым, конечно, в рамках ПДД))) Мой Лексус тоже резвый, но им девушку не удивить, как это позволил сделать Гэтэр. Покупать его на каждый день не хочу, а вот аренда оказалась простым и доступным решением. Спасибо за отличный день и инсайт!
                        </div>
                    </div>
                </div>
            </div>
            <div class="reviews__item">
                <div class="reviews__body">
                    <div class="reviews__img-box">
                        <img src="img/reviews2.jpg" alt="people">
                    </div>
                    <div class="reviews__text-box">
                        <h3>
                            Максим
                        </h3>
                        <span>
                            маркетолог
                        </span>
                        <div>
                            Часто езжу с водителем на Майбахе. Рабочие будни, костюм, деловые встречи, для этих целей его достаточно. Но в пятницу и субботу, при неформальных раутах предпочитаю то, что помогает добраться до места с большим удовольствием, GTR или Audi R8 - лучшее решение, из доступных в аренду. За руль не сажусь, арендую спорткар с водителем, так как часто отвлекаюсь на звонки. На прошлых выходных обещали Феррари, жду звонка и надеюсь дождь не случится. Спасибо.
                        </div>
                    </div>
                </div>
            </div>
            <div class="reviews__item">
                <div class="reviews__body">
                    <div class="reviews__img-box">
                        <img src="img/reviews2.jpg" alt="people">
                    </div>
                    <div class="reviews__text-box">
                        <h3>
                            Вика
                        </h3>
                        <span>
                            риелтор
                        </span>
                        <div>
                            С детства увлекаюсь спортом и автомобилями. Мне для работы больше подходит кубик(G500), ему любые преграды нипочём. Но иногда, позволяю себе более элегантный транспорт. Люблю GTR за умение удивлять динамикой. Стоишь иной раз на светофоре, чувствуешь на себе взгляд со стороны..., желтый, зеленый,....и видя как кто-то выпрыгивает вперёд, за мгновение опережаю его. Нрав GTR и реакция на старте выше, чем у 99,8% машин в Москве. И вот очередной красный светофор, покатываюсь и вижу как взгляд у побеждённого направлен в строну, а маленькая победа в моих руках)
                            Спасибо ребятам из TMW за эти эмоции🙏🏻
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="reviews__nav">
            <div class="reviews__prev"></div>
            <div class="reviews__num-slide">
                <span class="reviews__curr-slide">01</span>
                <span class="reviews__total-slide">/04</span>
            </div>
            <div class="reviews__next"></div>
        </div>
    </div>
</section>
<!--REVIEWS END-->