<!--REVIEWS START-->
<section class="reviews block">
    <div class="container">
        <h2 class="title">
            Наши клиенты говорят
        </h2>
        <div class="reviews__list">
            <div class="reviews__item">
                <div class="reviews__body">
                    <div class="reviews__img-box">
                        <img src="img/reviews1.jpg" alt="people">
                    </div>
                    <div class="reviews__text-box">
                        <h3>
                            Антон Орлов
                        </h3>
                        <span>
                        г. Москва
                    </span>
                        <div>
                            «Заказывал машину с водителем, для бизнес встречи.
                            Пунктуальность и сервис на вышем уровне.
                            Спасибо большое ребятам из отдела консультации ...»
                        </div>
                        <span class="reviews__more">
                        Читать полный отзыв
                    </span>
                    </div>
                </div>
            </div>
            <div class="reviews__item">
                <div class="reviews__body">
                    <div class="reviews__img-box">
                        <img src="img/reviews2.jpg" alt="people">
                    </div>
                    <div class="reviews__text-box">
                        <h3>
                            Ксения Васильчук
                        </h3>
                        <span>
                            г. Ялта
                        </span>
                        <div>
                            «Отдыхали с мужем в Москве, брали машину на пару дней + заказали
                            видео сессию. Ребята профессионалы своего дела! Отлично
                            провели время, море эмоций ...»
                        </div>
                        <span class="reviews__more">
                            Читать полный отзыв
                        </span>
                    </div>
                </div>
            </div>
            <div class="reviews__item">
                <div class="reviews__body">
                    <div class="reviews__img-box">
                        <img src="img/reviews3.jpg" alt="people">
                    </div>
                    <div class="reviews__text-box">
                        <h3>
                            Ксения Васильчук
                        </h3>
                        <span>
                            г. Ялта
                        </span>
                        <div>
                            «Отдыхали с мужем в Москве, брали машину на пару дней + заказали
                            видео сессию. Ребята профессионалы своего дела! Отлично
                            провели время, море эмоций ...»
                        </div>
                        <span class="reviews__more">
                            Читать полный отзыв
                        </span>
                    </div>
                </div>
            </div>
            <div class="reviews__item">
                <div class="reviews__body">
                    <div class="reviews__img-box">
                        <img src="img/reviews4.jpg" alt="people">
                    </div>
                    <div class="reviews__text-box">
                        <h3>
                            Ксения Васильчук
                        </h3>
                        <span>
                            г. Ялта
                        </span>
                        <div>
                            «Отдыхали с мужем в Москве, брали машину на пару дней + заказали
                            видео сессию. Ребята профессионалы своего дела! Отлично
                            провели время, море эмоций ...»
                        </div>
                        <span class="reviews__more">
                            Читать полный отзыв
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="reviews__nav">
            <div class="reviews__prev"></div>
            <div class="reviews__num-slide">
                <span class="reviews__curr-slide">01</span>
                <span class="reviews__total-slide">/04</span>
            </div>
            <div class="reviews__next"></div>
        </div>
    </div>
</section>
<!--REVIEWS END-->