<!--services header start-->
<header class="services-header header page-header" id="header">
    <div class="container">
        <!--=include ../header-top/header-top.html -->

            <div class="page-header__content">
                <div class="page-header__bg-text">Услуги</div>
                <div class="page-header__left">
                    <div class="page-header__title header__title">
                        <h1>Услуги</h1>
                    </div>
                    <div class="page-header__description header__description">
                        <p>
                            Наши предложения помогут Вам приобрести нужные услуги
                            по длительности и цене. Критерии возможных ограничений отражены
                            в подробном описании каждого раздела. Приятного путешествия!
                        </p>
                    </div>
                    <a href="#services-categories" class="header__mouse pointer">
                        <img src="img/mouse.png" alt="">
                    </a>
                </div>
                <div class="page-header__right">
                    <img src="img/page-header-img.jpg" alt="car">
                </div>
            </div>

        <!--=include ../menu/menu.html -->
    </div>
</header>
<!--services header end-->