$mainColor: #d3964d;
$mainFont: 'Montserrat', sans-serif;
$secondaryFont: 'Raleway-800', sans-serif;

@font-face {
	font-family: 'Raleway-800';
	src: url('../fonts/Raleway-ExtraBold.eot');
	src: url('../fonts/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Raleway-ExtraBold.woff2') format('woff2'),
	url('../fonts/Raleway-ExtraBold.woff') format('woff'),
	url('../fonts/Raleway-ExtraBold.ttf') format('truetype'),
	url('../fonts/Raleway-ExtraBold.svg#Raleway-ExtraBold') format('svg');
	font-weight: 800;
	font-style: normal;
}

body {	
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	overflow-x: hidden;
}

img {
	max-width: 100%;
}

svg {
	overflow: hidden;
}

.container {
	width: 1270px;
	margin: 0 auto;
	padding: 0 15px;

	@include r(1219) {
		width: 1024px;
	}
	@include r(1023) {
		width: 768px;
		padding: 0 10px;
	}
	@include r(767) {
		width: 640px;
	}
	@include r(639) {
		width: 480px;
	}
	@include r(479) {
		width: 100%;
	}
}

.title {	
	font-size: 36px;
	line-height: 1.2;
	font-family: 'Raleway-800', sans-serif;
	letter-spacing: .045em;
	@include r(1219){
		font-size: 36px;
	}
	@include r(1023){	
		font-size: 32px;
		line-height: 1.1;
	}
	@include r(767){	
		font-size: 30px;
	}
	@include r(639){	
		font-size: 27px;
	}
	@include r(479){	
		font-size: 24px;
	}
}

.text-bold {
	font-weight: 700;
}

.text-black {
	font-weight: 900;
}

.text-nowrap {
	white-space: nowrap;
}

.ttu {
	text-transform: uppercase;
}

.btn {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: #000;
	background: #d3964d;
	height: 55px;
	line-height: 55px;
	cursor: pointer;
	width: 170px;
	text-align: center;
	font-weight: 600;
	text-transform: uppercase;
}



