<!--services-categories start-->
<section class="categories block" id="services-categories">
    <div class="container">
        <div class="categories__list">
            <div class="categories__item">
                <p class="categories__item-name">
                    <span class="categories__item-num">01</span>
                    <a href="../../service-taxi.html">Такси спорткар</a>
                </p>
                <button class="categories__btn btn open-car">Заказать</button>
                <a href="../../service-taxi.html" class="categories__btn_dark btn">Подробнее</a>
            </div>
            <div class="categories__item">
                <p class="categories__item-name">
                    <span class="categories__item-num">02</span>
                    <a href="">Аренда спорткара</a></p>
                <button class="categories__btn btn open-car">Заказать</button>
                <a href="../../service-taxi.html" class="categories__btn_dark btn">Подробнее</a>
            </div>
            <div class="categories__item">
                <p class="categories__item-name">
                    <span class="categories__item-num">03</span>
                    <a href="">Обучение езды на полном приводе</a>
                </p>
                <button class="categories__btn btn open-car">Заказать</button>
                <a href="../../service-taxi.html" class="categories__btn_dark btn">Подробнее</a>
            </div>
            <div class="categories__item">
                <p class="categories__item-name">
                    <span class="categories__item-num">04</span>
                    <a href="">Фотоссесия и видеосъёмка</a>
                </p>
                <button class="categories__btn btn open-car">Заказать</button>
                <a href="../../service-taxi.html" class="categories__btn_dark btn">Подробнее</a>
            </div>
            <div class="categories__item">
                <p class="categories__item-name">
                    <span class="categories__item-num">05</span>
                    <a href="">Экскурсия по Москве</a>
                </p>
                <button class="categories__btn btn open-car">Заказать</button>
                <a href="../../service-taxi.html" class="categories__btn_dark btn">Подробнее</a>
            </div>
            <div class="categories__item">
                <p class="categories__item-name">
                    <span class="categories__item-num">06</span>
                    <a href="">Консьерж сервис</a>
                </p>
                <button class="categories__btn btn open-car">Заказать</button>
                <a href="../../service-taxi.html" class="categories__btn_dark btn">Подробнее</a>
            </div>
        </div>
    </div>
</section>
<!--services-categories end-->