<!--FEATURES START-->
<section class="features block" id="features">
    <div class="container">
        <div class="features__left">
            <div class="features__title title">
                <h2>Технические характеристики<br> NISSAN GTR</h2>
            </div>
            <div class="features__descr">
                <p>Сочетание автоматической коробки передач и полного привода,
                    делает авто удобным и безопасным для повседневной езды.
                    А наличие 700 л.с. под капотом, позволит раскрыть его возможности
                    на гоночном треке.
                </p>
            </div>
            <button class="btn features__btn open-consult">Узнать больше</button>
        </div>
        <div class="features__right">
            <div class="features__row features__row_2">
                <div class="features__feature">
                    <div class="features__img"><img src="img/features-1.svg" alt=""></div>
                    <p class="features__num">
                        <span class="features__bold">700</span>
                        <span>л.с.</span>
                    </p>
                    <p class="features__info">мощность двигателя</p>
                </div>
                <div class="features__feature">
                    <div class="features__img"><img src="img/features-2.svg" alt=""></div>
                    <p class="features__num">
                        <span class="features__bold">637</span>
                        <span>Нм.</span>
                    </p>
                    <p class="features__info">крутящий момент</p>
                </div>
                <div class="features__feature">
                    <div class="features__img"><img src="img/features-3.svg" alt=""></div>
                    <p class="features__num">
                        <span class="features__bold">2.84</span>
                        <span>сек.</span>
                    </p>
                    <p class="features__info">разгон<br> 0-100 км/ч</p>
                </div>
                <div class="features__feature">
                    <div class="features__img"><img src="img/features-4.svg" alt=""></div>
                    <p class="features__num">
                        <span class="features__bold">50/50</span>
                    </p>
                    <p class="features__info">идеальный баланс</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--FEATURES END-->