<!--SERVICES START-->
<section class="services block">
    <div class="container">
        <h2 class="title">
            Наши услуги
        </h2>
        <p class="services__text services__text_1">
            <span class="ttu">The Men Want</span> — эксперт по
            <br>прокату спорткаров
        </p>
        <p class="services__text services__text_2">
            Nissan GTR — один из самых ярких
            проявлений этой породы
        </p>
        <ul class="services__list">
            <li class="services__item">
                <h3>
                    Аренда GTR
                </h3>
                <p>
                    Прекрасная возможность за час получить
                    NISSAN GTR на удобные даты, с доставкой.
                </p>
                <div class="btn btn_services">
                    Заказать
                </div>
            </li>
            <li class="services__item">
                <h3>
                    Трансфер на GTR
                </h3>
                <p>
                    Наш водитель доставит Вас быстро и
                    безопасно,а также выполнит все поручения в кратчайший срок.
                </p>
                <div class="btn btn_services">
                    Заказать
                </div>
            </li>
            <li class="services__item">
                <h3>
                    Видео и фотосессия
                </h3>
                <p>
                    Команда операторов используя дроны и экшн-камеры создаст видео-клип и
                    фотографии вашей поездки.
                </p>
                <div class="btn btn_services">
                    Заказать
                </div>
            </li>
        </ul>
    </div>
</section>
<!--SERVICES END-->