<!--SERVICES START-->
<section class="services block">
    <div class="container">
        <h2 class="title">
            Наши услуги
        </h2>
        <p class="services__text services__text_1">
            <span class="ttu">The Men Want</span> — эксперт по
            <br>прокату спорткаров
        </p>
        <p class="services__text services__text_2">
            Nissan GTR — один из самых ярких
            проявлений этой породы
        </p>
        <ul class="services__list">
            <li class="services__item">
                <h3>
                    Аренда GTR
                </h3>
                <p>
                    Прекрасная возможность за час получить
                    NISSAN GTR на удобные даты, с доставкой.
                </p>
                <div class="btn btn_services open-car">
                    Заказать
                </div>
                <div class="services__item_hover">
                    <h4>
                        Аренда GTR
                    </h4>
                    <p>
                        Прекрасная возможность за час получить
                        NISSAN GTR на удобные даты, с доставкой.
                    </p>
                    <div class="services__order-vars">
                        <div class="services__var">
                            <p>
                                <span>8</span> часов
                            </p>
                            <p>
                                <span>30 000</span> руб.
                            </p>
                            <div class="btn btn_services_in open-car">
                                Заказать
                            </div>
                        </div>
                        <div class="services__var services__var_2">
                            <p>
                                <span>2</span> часа
                            </p>
                            <p>
                                <span>10 000</span> руб.
                            </p>
                            <div class="btn btn_services_in open-car">
                                Заказать
                            </div>
                        </div>
                    </div>
                    <a href="" class="services__link-more">Узнать больше</a>
                </div>
            </li>
            <li class="services__item">
                <h3>
                    Трансфер на GTR
                </h3>
                <p>
                    Наш водитель доставит Вас быстро и
                    безопасно,а также выполнит все поручения в кратчайший срок.
                </p>
                <div class="btn btn_services open-car">
                    Заказать
                </div>
                <div class="services__item_hover">
                    <h4>
                        Аренда GTR
                    </h4>
                    <p>
                        Прекрасная возможность за час получить
                        NISSAN GTR на удобные даты, с доставкой.
                    </p>
                    <div class="services__order-vars">
                        <div class="services__var">
                            <p>
                                <span>8</span> часов
                            </p>
                            <p>
                                <span>30 000</span> руб.
                            </p>
                            <div class="btn btn_services_in open-car">
                                Заказать
                            </div>
                        </div>
                        <div class="services__var services__var_2">
                            <p>
                                <span>2</span> часа
                            </p>
                            <p>
                                <span>10 000</span> руб.
                            </p>
                            <div class="btn btn_services_in open-car">
                                Заказать
                            </div>
                        </div>
                    </div>
                    <a href="" class="services__link-more">Узнать больше</a>
                </div>
            </li>
            <li class="services__item services__item_last">
                <h3>
                    Видео и фотосессия
                </h3>
                <p>
                    Команда операторов используя дроны и экшн-камеры создаст видео-клип и
                    фотографии вашей поездки.
                </p>
                <div class="btn btn_services open-car">
                    Заказать
                </div>
                <div class="services__item_hover">
                    <h4>
                        Аренда GTR
                    </h4>
                    <p>
                        Прекрасная возможность за час получить
                        NISSAN GTR на удобные даты, с доставкой.
                    </p>
                    <div class="services__order-vars">
                        <div class="services__var">
                            <p>
                                <span>8</span> часов
                            </p>
                            <p>
                                <span>30 000</span> руб.
                            </p>
                            <div class="btn btn_services_in open-car">
                                Заказать
                            </div>
                        </div>
                        <div class="services__var services__var_2">
                            <p>
                                <span>2</span> часа
                            </p>
                            <p>
                                <span>10 000</span> руб.
                            </p>
                            <div class="btn btn_services_in open-car">
                                Заказать
                            </div>
                        </div>
                    </div>
                    <a href="" class="services__link-more">Узнать больше</a>
                </div>
            </li>
        </ul>
    </div>
</section>
<!--SERVICES END-->