.services {
    &__text {
        font-size: 52px;
        font-family: 'Raleway-800', sans-serif;
        color: #777;
    }
}

@media (max-width: 1219px) {

}

@media (max-width: 1023px) {

}

@media (max-width: 767px) {

}

@media (max-width: 639px) {

}

@media (max-width: 479px) {

}