<!--SERVICES START-->
<section class="services block">
    <div class="container">
        <h2 class="title">
            Наши услуги
        </h2>
        <p class="services__text">
            <span class="ttu">The Men Want</span> — эксперт по
            прокату спорткаров
        </p>
        <p class="services__text">
            Nissan GTR — один из самых ярких
            проявлений этой породы
        </p>
        <ul class="services__list">
            <li class="services__item">
                <h3 class="services__name">
                    Аренда GTR
                </h3>
                <div class="services__descr">
                    Прекрасная возможность за час получить
                    NISSAN GTR на удобные даты, с доставкой.
                </div>
                <div class="btn">
                    Заказать
                </div>
            </li>
            <li class="services__item">
                <h3 class="services__name">
                    Трансфер на GTR
                </h3>
                <div class="services__descr">
                    Наш водитель доставит Вас быстро и
                    безопасно,а также выполнит все поручения в кратчайший срок.
                </div>
                <div class="btn">
                    Заказать
                </div>
            </li>
            <li class="services__item">
                <h3 class="services__name">
                    Видео и фотосессия
                </h3>
                <div class="services__descr">
                    Команда операторов используя дроны и экшн-камеры создаст видео-клип и
                    фотографии вашей поездки.
                </div>
                <div class="btn">
                    Заказать
                </div>
            </li>
        </ul>
    </div>
</section>
<!--SERVICES END-->