<!--ABOUT-HEADER START-->
<header class="about-header header page-header" id="header">
    <div class="container">
        <!--=include ../header-top/header-top.html -->

        <div class="page-header__content">
            <div class="page-header__bg-text">О нас</div>
            <div class="page-header__left">
                <div class="page-header__title header__title">
                    <h1>О нас</h1>
                </div>
                <div class="page-header__description header__description">
                    <p>
                        Компания «THE MAN WANT» Антропосоциология подрывает типичный здравый смысл, отрицая очевидное.
                        Платоновская академия вырождена. Созерцание реально выводит онтологический субъективный мир.
                    </p>
                </div>
                <a href="#services-categories" class="header__mouse pointer">
                    <img src="img/mouse.png" alt="">
                </a>
            </div>
            <div class="page-header__right">
                <div class="page-header__img">
                    <img src="img/about-header-img.jpg" alt="car">
                </div>
            </div>
        </div>

        <!--=include ../menu/menu.html -->
    </div>
</header>
<!--ABOUT-HEADER END-->
