<!--ORDER-CONSULT POPUP START-->
<div class="order_consult order">
    <div class="order__wrap consult-wrap">
        <div class="order__close close-consult pointer">
            <i class="fas fa-times"></i>
        </div>
        <div class="order__title">
            <h3>Заполните форму, наши сецмалисты предоставят Вам консультацию в ближайшее время!</h3>
        </div>
        <form class="order__form">
            <input type="text" placeholder="Ваше Имя*">
            <input type="tel" placeholder="Ваш телефон*">
            <input type="email" placeholder="Ваш e-mail">
            <button class="btn order__btn">Заказать</button>
            <input type="checkbox" id="order__check-1" class="order__checkbox">
            <label for="order__check-1" class="order__check-text pointer">
                Я принимаю условия конфидециальности,
                даю согласие на <a href="">обработку данных</a>
            </label>
        </form>
    </div>
</div>
<!--ORDER-CONSULT POPUP END-->