<!--ORDER-CAR POPUP START-->
<div class="order_car order">
    <div class="order__wrap car-wrap">
        <div class="order__close close-car pointer">
            <i class="fas fa-times"></i>
        </div>
        <div class="order__title">
            <h3>Заполните форму для бронирования автомобиля</h3>
        </div>
        <form class="order__form">
            <input type="text" placeholder="Ваше Имя*">
            <input type="tel" placeholder="Ваш телефон*">
            <input type="email" placeholder="Ваш e-mail">
            <button class="btn order__btn">Заказать</button>
            <input type="checkbox" id="order__check" class="order__checkbox pointer">
            <label for="order__check" class="order__check-text">
                Я принимаю условия конфидециальности,
                даю согласие на <a href="">обработку данных</a>
            </label>
        </form>
    </div>
</div>
<!--ORDER-CAR POPUP END-->