.order {
  width: 100vw;
  height: 100vh;
  background: rgba(25, 25, 25, .9);
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  display: none;

  &.opened {
    display: block;
  }

  &__wrap {
    max-width: 610px;
    width: 100%;
    max-height: 580px;
    height: 100%;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 54px 85px;
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 11;
    //overflow-y: scroll;
  }

  &__close {
    position: absolute;
    color: #191919;
    font-size: 26px;
    font-weight: bold;
    top: 30px;
    right: 70px;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }

  &__title {
    color: #0f0f0f;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 1.08px;
    text-align: center;
    margin-bottom: 35px;
  }

  input {
    padding: 13px 0 13px 17px;
    border: 1px solid #1c1c1e;
    opacity: 0.85;
    margin-bottom: 16px;
    background: #f2f2f2;
    letter-spacing: 1px;
  }

  &__btn {
    margin: 63px 0 20px;
    width: 100%;
    height: 60px;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.72px;

    i {
      font-weight: 400;
    }
  }
  .order__checkbox {
    display: none;
  }
  .order__checkbox + .order__check-text {
    cursor: pointer;
    &::before {
      background: #000;
      opacity: 1;
    }
  }
  .order__check-text {
    padding: 0 55px 0 88px;
    color: #141414;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    opacity: 0.6;
    position: relative;
    letter-spacing: 0.54px;

    &::before {
      content: '';
      display: block;
      width: 14px;
      height: 14px;
      position: absolute;
      left: 61px;
      top: 0;
      background: #000 url('../img/checked.png') no-repeat center;
    }

    a {
      text-decoration: underline;
      color: #141414;
    }
  }
  .order__checkbox:checked + .order__check-text {
    &::before {
      background: #0f0f0f url('../img/checked.png') no-repeat center;
    }
  }
}

@media (max-width: 1279px) {

}

@media (max-width: 1023px) {
  .order {

    &__wrap {
      overflow-y: scroll;
    }
    &__close {
      top: 10px;
      right: 10px;
      color: #000;
    }
  }
}

@media (max-width: 767px) {
  .order {


    &__wrap {
      max-width: 470px;
      padding: 25px 35px;
      overflow-y: scroll;
    }

    .order__check-text {
      padding: 0 0 0 48px;

      &::before {
        left: 20px;
      }
    }

    &__close {
      top: 10px;
      right: 10px;
      color: #000;
    }
  }

}

@media (max-width: 639px) {
}

@media (max-width: 479px) {
  .order {

    &__wrap {
      max-width: 310px;
      //max-height: 520px;
      padding: 25px 15px;
    }

    &__title {
      font-size: 20px;
      line-height: 25px;
    }

    &__btn {
      margin: 10px 0 20px;
    }
    .order__check-text {
      padding: 0 0 0 25px;

      &::before {
        left: 0;
      }
    }
  }
}