<!--SERVICES MORE START-->
<section class="services-more block">
    <div class="container">
        <div class="services-more__title">
            <h2>
                Желаете узнать больше?
            </h2>
        </div>
        <div class="services-more__descr">
            <p>Закажите бесплатную консультацию! Мы свяжемся с Вами в ближайшее время!</p>
        </div>
        <button class="services-more__btn btn open-consult">Заказать консультацию</button>
    </div>
</section>
<!--SERVICES MORE END-->