<!--SERVICES TAXI MAIN CONTENT START-->
<section class="taxi-main block">
    <div class="container">

        <div class="back-link">
            <a href="index.html">На главную</a>
        </div>

        <div class="taxi-main__lists">

            <div class="taxi-main__list">
                <span>Прокат на час</span>
                <i class="fas fa-chevron-down"></i>

                <div class="taxi-main__sublist taxi-main__sublist_hidden">

                </div>
            </div>


            <div class="taxi-main__list">
                <span class="taxi-click">Прокат на сутки</span>
                <i class="fas fa-chevron-down"></i>

                <div class="taxi-main__sublist taxi-main__sublist_hidden">
                    <div class="taxi-main__sublist-img">
                        <img src="img/sublist-img.png" alt="">
                    </div>
                    <p>Это услуга, помогающая сэкономить время в том случае, если
                        вам предстоит командировка в соседний город, романтическая
                        поездка или просто выезд на пикник с семьей.
                    </p>
                    <p>
                        Сутки проката машины составляют ровно 24 часа с момента
                        подписания договора, поэтому нужно тщательно продумывать
                        маршрут для того, чтобы вовремя вернуть автомобиль арендатору.
                    </p>
                    <div>Спорткар оборудован новейшими системами для вашего комфорта:</div>
                    <ul>
                        <li>кондиционер</li>
                        <li>аудио и видео</li>
                        <li>система безопасности</li>
                        <li>и т.д.</li>
                    </ul>
                    <button class="btn sublist__btn">заказать услугу</button>

                </div>

            </div>

        </div>

        <div class="taxi-main__content">
            <h3>Подробное описание условий</h3>
            <p>Для аренды авто / спорткара  минимальный возраст 21 года и <span>стаж</span> вождения <span>не менее 2-х лет.</span></p>
            <p class="taxi-main__descr-bold">Необходимые документы для заключения договора:</p>
            <div class="taxi-main__descr-list">
                <div>Для граждан РФ:</div>
                <ul>
                    <li>общегражданский паспорт;</li>
                    <li>водительское удостоверение, действующее на территории РФ;</li>
                    <li>любой третий документ на выбор: ИНН, заграничный паспорт,
                        военный билет, СНИЛС, полис обязательного медицинского
                        страхования, свидетельство  рождении (оригиналы
                        документов необходимо предъявить при заключении
                        договора аренды автомобиля и получения автомобиля);
                    </li>
                </ul>
            </div>
            <div class="taxi-main__descr-list">
                <div>Для иностранных граждан:</div>
                <ul>
                    <li>национальный паспорт или заграничный с нотариальным переводом;</li>
                    <li>водительское удостоверение с нотариальным переводом;</li>
                    <li>миграционная карта или виза;</li>
                </ul>
            </div>
        </div>

        <div class="taxi-main__bottom">
            <div class="back-link">
                <a href="">вернуться назад</a>
            </div>
            <div class="forward-link">
                <a href="">Следующая услуга</a>
            </div>
        </div>
    </div>
</section>
<!--SERVICES TAXI MAIN CONTENT END-->