<!--CONTACT START-->
<section class="contact block">
    <div class="container">
        <h2 class="title">
            Контакты
        </h2>
        <div class="contact__wrap">
            <div class="contact__list">
                <div class="contact__item">
                    <div class="contact__text">
                        <h3>
                            Москва
                        </h3>
                        <div class="contact__info contact__info_city">
                            <span>Адрес:</span>
                            <span>Новый Арбат 15</span>
                        </div>
                        <div class="contact__info contact__info_tel">
                            <span>Телефон:</span>
                            <span>+7 (495) 643-6444</span>
                            <span>8 (800) 555-7555</span>
                        </div>
                        <div class="contact__info contact__info_mail">
                            <span>E-mail: </span>
                            <span>tmw@mail.ru</span>
                        </div>
                    </div>
                    <div class="contact__map">
                        <div id="map" style="width:400px; height:246px;"></div>
                    </div>
                </div>
                <div class="contact__item contact__item_2">
                    <div class="contact__text contact__text_2">
                        <h3>
                            Cочи
                        </h3>
                        <div class="contact__info contact__info_city">
                            <span>Адрес:</span>
                            <span>ул. Орджоникидзе 17</span>
                        </div>
                        <div class="contact__info contact__info_tel">
                            <span>Телефон:</span>
                            <span>+7 (916) 361-3131</span>
                            <span>8 (800) 555-7555</span>
                        </div>
                        <div class="contact__info contact__info_mail">
                            <span>E-mail: </span>
                            <span>tmw@mail.ru</span>
                        </div>
                    </div>
                    <div class="contact__map">
                        <div id="map2" style="width:400px; height:246px;"></div>
                    </div>
                </div>
            </div>
            <div class="contact__inputs">
                <h3>
                    Доставим автомобиль к Вашему <br>дому, в любое время
                </h3>
                <form action="" class="contact__form">
                    <input type="text" required placeholder="Ваше Имя*" name="name" class="contact__input">
                    <input type="tel" required placeholder="Ваш телефон*" name="phone" class="contact__input contact__input_phone">
                    <button class="btn btn_contact">
                        Заказать звонок
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<!--CONTACT END-->