<!--favor START-->
<section class="favor block">
    <div class="container">
        <h2 class="title">
            Наши услуги
        </h2>
        <p class="favor__text favor__text_1">
            <span class="ttu">The Men Want</span> — эксперт по
            <br>прокату спорткаров
        </p>
        <p class="favor__text favor__text_2">
            Nissan GTR — один из самых ярких
            проявлений этой породы
        </p>
        <ul class="favor__list">
            <li class="favor__item favor__item_1">
                <h3>
                    Аренда GTR
                </h3>
                <p>
                    Вы водитель-пилот GTR. Наслаждайтесь
                </p>
                <div class="btn btn_favor open-car">
                    Заказать
                </div>
                <!--NEW-START-->
                <div class="favor__item_hover" style="background-image: url(../img/hover-order-card.png);">
                    <!--NEW-END-->
                    <h4>
                        Аренда GTR
                    </h4>
                    <p>
                        Прекрасная возможность за час получить
                        NISSAN GTR на удобные даты, с доставкой.
                    </p>
                    <div class="favor__order-vars">
                        <div class="favor__var">
                            <p>
                                <span>8</span> часов
                            </p>
                            <p>
                                <span>30 000</span> руб.
                            </p>
                            <div class="btn btn_favor_in open-car">
                                Заказать
                            </div>
                        </div>
                        <div class="favor__var favor__var_2">
                            <p>
                                <span>2</span> часа
                            </p>
                            <p>
                                <span>10 000</span> руб.
                            </p>
                            <div class="btn btn_favor_in open-car">
                                Заказать
                            </div>
                        </div>
                    </div>
                    <a href="" class="favor__link-more">Узнать больше</a>
                </div>
                <!--NEW-START-->
                <div class="favor__item-bg favor__item-bg_1" style="background-image:url(../img/favor-item1.png)"></div>
                <!--NEW-END-->
            </li>
            <li class="favor__item favor__item_2">
                <h3>
                    GTR с водителем
                </h3>
                <p>
                    GTR с нашим водителем, для вашего настроения
                </p>
                <div class="btn btn_favor open-car">
                    Заказать
                </div>
                <!--NEW-START-->
                <div class="favor__item_hover" style="background-image: url(../img/hover-order-card.png);">
                    <!--NEW-END-->
                    <h4>
                        Аренда GTR
                    </h4>
                    <p>
                        Прекрасная возможность за час получить
                        NISSAN GTR на удобные даты, с доставкой.
                    </p>
                    <div class="favor__order-vars">
                        <div class="favor__var">
                            <p>
                                <span>8</span> часов
                            </p>
                            <p>
                                <span>30 000</span> руб.
                            </p>
                            <div class="btn btn_favor_in open-car">
                                Заказать
                            </div>
                        </div>
                        <div class="favor__var favor__var_2">
                            <p>
                                <span>2</span> часа
                            </p>
                            <p>
                                <span>10 000</span> руб.
                            </p>
                            <div class="btn btn_favor_in open-car">
                                Заказать
                            </div>
                        </div>
                    </div>
                    <a href="" class="favor__link-more">Узнать больше</a>
                </div>
                <!--NEW-START-->
                <div class="favor__item-bg favor__item-bg_2" style="background-image:url(../img/favor-item2.png)"></div>
                <!--NEW-END-->
            </li>
            <li class="favor__item favor__item_last favor__item_3">
                <h3>
                    Видео и фотосессия
                </h3>
                <p>
                    Наш фотограф и видео-оператор создадут фильм - Вы и GTR
                </p>
                <div class="btn btn_favor open-car">
                    Заказать
                </div>
                <!--NEW-START-->
                <div class="favor__item_hover" style="background-image: url(../img/hover-order-card.png);">
                    <!--NEW-END-->
                    <h4>
                        Аренда GTR
                    </h4>
                    <p>
                        Прекрасная возможность за час получить
                        NISSAN GTR на удобные даты, с доставкой.
                    </p>
                    <div class="favor__order-vars">
                        <div class="favor__var">
                            <p>
                                <span>8</span> часов
                            </p>
                            <p>
                                <span>30 000</span> руб.
                            </p>
                            <div class="btn btn_favor_in open-car">
                                Заказать
                            </div>
                        </div>
                        <div class="favor__var favor__var_2">
                            <p>
                                <span>2</span> часа
                            </p>
                            <p>
                                <span>10 000</span> руб.
                            </p>
                            <div class="btn btn_favor_in open-car">
                                Заказать
                            </div>
                        </div>
                    </div>
                    <a href="" class="favor__link-more">Узнать больше</a>
                </div>
                <!--NEW-START-->
                <div class="favor__item-bg favor__item-bg_3" style="background-image:url(../img/favor-item3.jpg)"></div>
                <!--NEW-END-->
            </li>
        </ul>
    </div>
</section>
<!--favor END-->